
<h2 class="mb-4"><%= t '.high_light' %></h2>

<turbo-frame id="home">
  <div class="row gx-5">
    <%= render partial: '/books/book', collection: @books, as: :book %>
  </div>

  <div class='row mb-5'>
    <div class='col-12 center'>
      <%== pagy_bootstrap_nav @pagy %>
    </div>
  </div>
</turbo-frame>

<h2 class="mb-4"><%= t ".categories" %></h2>
<div class="row gx-5">
  <%= render partial: '/books/category', collection: @categories, as: :category %>
</div>
