<div class='card mb-5'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-4 border book-thumb-container d-flex'>
        <% if @book.thumbnail.blob %>
          <%= image_tag @book.thumbnail, class: 'book-detail-thumb' %>
        <% else %>
          <div class='placeholder-thumb'>
          </div>
        <% end %>
      </div>

      <div class='col-8 px-5'>
        <h1 class='card-title'><%= @book.title %></h1>
        <p class='card-text'><%= t '.author' %>: <%= @book.author_name %></p>
        <p class='card-text'><%= t '.published_at' %>: <%= @book.publish_year %></p>
      </div>
    </div>

    <div class='book-description'>
      <%= raw @book.description %>
    </div>
  </div>
</div>

<div class='card mb-5'>
  <div class='card-body'>
    <h2 class='card-title'><%= t '.comments' %></h2>
    <div class='comments'>
      <%# render @book.comments %>
    </div>
  </div>
</div>
