<div class='card mb-5'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-4 border book-thumb-container d-flex'>
        <% if @book.thumbnail.blob %>
          <%= image_tag @book.thumbnail, class: 'book-detail-thumb' %>
        <% else %>
          <div class='placeholder-thumb'>
          </div>
        <% end %>
      </div>

      <div class='col-8 px-5'>
        <h1 class='card-title'><%= @book.title %></h1>
        <p class='card-text'><%= t '.author' %>: <%= @book.author_name %></p>
        <p class='card-text'><%= t '.published_at' %>: <%= @book.publish_year %></p>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <% @book.book_versions.type_sort.each_with_index do |bv, index| %>
            <div class="text-xs font-weight-bold text-success">
              <%= link_to bv.file_type, url_for(bv.file), target: '_blank',
                class: "btn btn-sm btn-outline-#{bootstrap_sequent_color(index)}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class='row book-description mt-3'>
      <div class='col-12 p-0'>
        <h3 class='card-title'><%= t '.book_description' %></h3>
        <%= raw @book.description %>
      </div>
    </div>
  </div>
</div>

<div class='card mb-5'>
  <div class='card-body'>
    <h3 class='card-title'><%= t '.comments' %></h3>
    <div class='comments'>
      <%# render @book.comments %>
    </div>
  </div>
</div>
