<!DOCTYPE html>
<html>
  <head>
    <title>Sach Hiem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div id="layoutDefault">
      <div id="layoutDefault_content">
        <main>
          <%= render 'layouts/shared/nav_bar' %>

          <div id='flash-container'>
            <%= render partial: 'layouts/shared/flash' %>
          </div>

          <%= render partial: 'layouts/shared/header' %>

        <section class="bg-light py-10">
          <div class="container px-5">
            <%= yield %>
          </div>
        </section>
        </main>
      </div>

      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
